:root {
    /* Définition des variables */
    --background-color: #555;
    --background-image: url('http://localhost:8888/Harry/asset/image/grand mystical academy.jpeg');
    --background-style: no-repeat top center / cover;
    --header-background-color: #463c35;
    --header-accent-color: #d4af37;
    --text-color: #fff;
    --dark-text-color: #333;
    --card-background-color: #a88300;
    --card-shadow: 0 2px 4px rgba(0,0,0,0.1);
    --primary-color: #a88300;
    --primary-color-hover: #b0b302;
    --focus-shadow: 0 0 0 2px rgba(255,255,255,0.8);
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: var(--background-color) var(--background-image) var(--background-style);
}

header {
    font-family: 'Roboto', sans-serif;
    background: var(--header-background-color);
    background-size: cover;
    color: var(--text-color);
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid var(--header-accent-color);
}

header h1 {
    font-family: 'Merriweather', serif;
    font-size: 2.5em;
    color: var(--header-accent-color);
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
}

main {
    padding: 20px;
    background: var(--background-color)50;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: medium;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.character-card {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    background: var(--card-background-color);
    color: var(--text-color);
    box-shadow: var(--card-shadow);
    max-width: 240px;
    color: var;
    transition: transform 0.1s ease;
}

.Ravenclaw {
    background-image: linear-gradient(to top right, #002366, #5D76A9, #606060);
}

.Slytherin {
    background-image: linear-gradient(to top right, #1A472A, #2A623D, #D3A625);
}
.Gryffindor {
    background-image: linear-gradient(to top right, #740001, #AE0001, #D3A625);
}
.Hufflepuff {
    background-image: linear-gradient(to top right, #776700, #303030, #FEDD00);
}


.character-card:hover {
    transform: translateY(-8px);
}
.character-card img {
    display: block;
    width: 100%;
    max-width: 165px;
    height: auto;
}

.character-card .img-container {
    max-height: 165px;
    border-radius: 10px;
    overflow: hidden;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 10px;
}

.button-container select {
    display: flex;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    appearance: none;
}

.button-container select:hover {
    background-color: var(--primary-color-hover);
}

.button-container select:focus {
    border-color: var(--primary-color-hover);
    box-shadow: var(--focus-shadow);
}

button#showCards {
    padding: 10px 20px;
    background-color: var(--header-background-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button#showCards:hover {
    background-color: var(--primary-color-hover);
}

button#showCards:focus {
    outline: none;
    box-shadow: var(--focus-shadow);
}