:root {
    /* Définition des variables */
    --background-color: #555;
    --header-background-color: #333;
    --text-color: #fff;
    --dark-text-color: #333;
    --card-background-color: #fff;
    --card-shadow: 0 2px 4px rgba(0,0,0,0.1);
    --primary-color: #007bff;
    --primary-color-hover: #0056b3;
    --focus-shadow: 0 0 0 2px rgba(0,123,255,0.5);
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: var(--background-color);
}
header {
    background: var(--header-background-color);
    color: var(--text-color);
    padding: 20px;
    text-align: center;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: medium;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.character-card {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    background: var(--card-background-color);
    box-shadow: var(--card-shadow);
    max-width: 240px;
    color: var;
    transition: transform 0.1s ease;
}


.character-card:hover {
    transform: translateY(-8px);
}
.character-card img {
    display: block;
    width: 100%;
    max-width: 165px;
    height: auto;
}

.character-card .img-container {
    max-height: 165px;
    overflow: hidden;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 10px;
}

button#showCards {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button#showCards:hover {
    background-color: var(--primary-color-hover);
}

button#showCards:focus {
    outline: none;
    box-shadow: var(--focus-shadow);
}